body{
	font-family: Arial , Helvetica , Geneva ,sans-serif;
	font-size: 18px;
	background: url("../images/back.jpg");
}
.error{
	color:#FF0000;
}
.success{
	color:#0000FF;
}
.titl{
	padding-top:20px;
	padding-left:20px;
	height: 80px;
}